################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/7-9/obj
