################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/7-9/obj
/Backup
/.vs/ColtonTownsend/v16
/.vs
/PfProj/.vscode
/PfProj/.vs/PfProj/v16
/PfProj/obj
/PfProj/bin/Debug/net8.0
/PfProj/PfProj.sln
/PfProj/PfProj.csproj
/PfProj_Backup.7z
